POSTGRES_USER="myuser"POSTGRES_PASSWORD="mypassword"POSTGRES_DB="mydatabase"PGADMIN_DEFAULT_EMAIL="admin@example.com"PGADMIN_DEFAULT_PASSWORD="admin"DATABASE_URL_PRISMA="postgresql://myuser:mypassword@localhost:5432/mydatabase?schema=public"DATABASE_URL_DOCKER="postgresql://myuser:mypassword@db:5432/mydatabase"